page-home {
 .getstart {

background-image: url('../../img/terrainGaelique2.jpg');
background-size: 100% 100% !important;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;


}
.img{
  height: 50vh;
  width: auto;
  margin: auto;
  display: block;
}
}
