page-action{
    .getstart{

background-image: url('../../img/terrainGaelique2.jpg');
background-size: 100% 100% !important;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;

            }
            .bar.bar-header {
  background: rgba(255,255,255,0);
  border-bottom-width: 0;
}
}