<ion-header >
  <ion-navbar color="secondary">
    <ion-title text-center>
      Action
    </ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content   padding class="getstart" >
  <form (submit)="getDefaults()">
    <ion-list class="style">
      <ion-item>
        <ion-label fixed>Joueur</ion-label>
        <ion-select [(ngModel)]="id_joueur" name="id_joueur" >
          <ion-option *ngFor="let j of joueurs" value="{{j.id_joueur}}">{{j.nom}} {{j.prenom}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label fixed>Action</ion-label>
        <ion-select [(ngModel)]="id_type_stats" name="id_type_stats" >
          <ion-option *ngFor="let a of actions" value="{{a.id_type_stats}}">{{a.action}}</ion-option>
        
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label fixed>Zone</ion-label>
        <ion-select [(ngModel)]="id_stats_zone" name="id_stats_zone" >
          <ion-option *ngFor="let zone of zones" value="{{zone.id_stats_zone}}">{{zone.position}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </form>
   <!--    <button ion-button (click)= "setDefaults() && pickTimer()" block color="secondary">Enregistrer l'action</button> !-->
     <button ion-button (click)="showConfirm() && pickTimer()" block color="secondary">Enregistrer l'action</button> 

 </ion-content>
